/*
by nzl1998
* WebSite:www.iacblog.com
*/

#sakura{
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}


#app{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 20;
}


.container{
    max-width: 80%;
    margin: 0 auto;
    font-size: 20px;
    color: #ffffff;
}

.name{
    margin-top: 30px;
}

.headerImg{
    margin-top: 50px;
    padding-left: 50px;
}

.headerImg img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: #00a0ff 3px solid;
    box-shadow: 0 0 40px rgba(63, 81, 181, 0.72);
    transition: all 1.0s;
}

.headerImg img:hover {
    box-shadow: 0 0 10px #fff;
    -webkit-box-shadow: 0 0 19px #fff;
    transform:rotate(360deg);
    -ms-transform:rotate(360deg); 	/* IE 9 */
    -moz-transform:rotate(360deg); 	/* Firefox */
    -webkit-transform:rotate(360deg); /* Safari 和 Chrome */
    -o-transform:rotate(360deg); 	/* Opera */
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.links{
    margin-top: 50px;
    padding-left: 50px;
}

.links ul>li{
    display: inline-block;
    margin-right: 30px;
    font-size: 16px;
}

.links ul>li>a{
    color: #cccccc;
    transition: all 0.5s;
}

.links ul>li>a:hover{
    color: #ffffff;
}

.sign{
    margin-top: 120px;
}

.sign p:first-child{
    text-align: center;
    color: #cccccc;
}

.sign p:nth-child(2){
    color: #dddddd;
    text-align: right;
}

.sign p:last-child{
    color: #dddddd;
    text-align: right;
}

.footer{
    margin-top: 22vh;
    text-align: center;
}

.footer>p{
    width: 80vw;
    color: #ebebeb;
    font-size: 14px;
}

.footer>p>a{
    color: #8d8d8d;
    font-size: 14px;
}

.footer>p>a:hover{
    color: #e8e8e8;
    transition: all 1.0s;
}